html {
  width: 100%;
  height: 100%;
  font-family: "Noto Sans KR", sans-serif;
}
body {
  margin: 0px;
  height: 100%;
  width: 100%;
  margin: 0px;
  background-color: #d1bda5;
}
.header {
  background-color: white;
  position: float;
  height: fit-content;
  width: 100%;
}
.mainlogo {
  width: 8%;
  padding: 1% 2%;
}
.content {
  height: 75%;
  display: flex;
}
.textContent {
  width: 47%;
  display: inline-block;
  align-content: center;
}
.wrap {
  margin: 30% 10% 5% 15%;
}
.lg-text {
  font-size: 50px;
  font-weight: bold;
  color: #564a41;
  margin-left: 5%;
  line-height: 1.28;
}
.sm-text {
  font-size: 20px;
  margin-bottom: 3%;
  color: #4a4a4a;
  margin-left: 5%;
  font-weight: 300;
}

.start {
  width: 100%;
  font-family: AppleSDGothicNeoEB00;
  font-size: 25px;
  color: #fff;
  padding: 4% 2% 2% 2%;
  text-align: center;
  font-weight: 400;
}
.startback {
  width: 33%;
  height: 8%;
  margin: 8% 20%;
  border-radius: 83px;
  background-color: #564a41;
  align-content: center;
}
.imgContent {
  width: 53%;
  position: relative;
}
.illustrate {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 90%;
}

#dynamic {
  position: relative;
  display: inline-block;
}

.floorContent {
  width: 100%;
  display: flex;
}
.floorImageContent {
  width: 100%;
}
