html {
  width: 100%;
  height: 100%;
  font-family: "Noto Sans KR", sans-serif;
}
body {
  margin: 0px;
  height: 100%;
  width: 100%;
}
.header {
  background-color: white;
  position: float;
  height: fit-content;
  width: 100%;
}
.mainlogo {
  width: 8%;
  margin: 1% 2%;
}
.startbar {
  height: fit-content;
  width: 100%;
  background-color: #564a41;
  display: flex;
}
.selectContent {
  background-color: #ccc7c1;
  height: 80%;
  text-align: center;
  padding: 0;
}
.selectwordKR {
  height: 50px;
  font-size: 40px;
  font-weight: 200;
  padding-top: 3.5%;
}
.selectwordEN {
  height: 20px;
  font-size: 15px;
  padding-top: 1.5%;
}
.caffeineButton {
  display: flex;
  justify-content: center;
}
.caffeineButton div {
  margin: 5%;
  height: 18%;
  width: 17%;
}
.caffeine {
  height: 100%;
  width: 100%;
}
.caffeine:hover {
  content: url(../image/caffeineHover.png);
  height: 100%;
  width: 100%;
}
.nonCaffeine {
  height: 100%;
  width: 100%;
}
.nonCaffeine:hover {
  content: url(../image/noncaffeineHover.png);
  height: 100%;
  width: 100%;
}
.bottombar {
  height: 6.5%;
  background-color: #564a41;
}
.start {
  font-size: 1.5em;
  letter-spacing: 3px;
  color: #fff;
  text-align: center;
  padding: 2% 30%;
  width: 100%;
}
.floor {
  width: 100%;
  background-color: #ccc7c1;
  position: absolute;
  bottom: 0;
  left: 0;
}