html {
  width: 100%;
  height: 100%;
  font-family: "Noto Sans KR", sans-serif;
}
body {
  margin: 0px;
  height: 100%;
  width: 100%;
}
.header {
  background-color: white;
  position: float;
  height: fit-content;
  width: 100%;
}
.mainlogo {
  width: 8%;
  padding: 1% 2%;
}
.showbar {
  display: flex;
  height: fit-content;
  width: 100%;
  background-color: #564a41;
}

.floor {
  width: 100%;
  margin: 0;
  background-color: #ccc7c1;
}
.backward {
  position: absolute;
  padding: 2.5% 5%;
}

.showWhatSelect {
  text-align: center;
  padding: 2% 30%;
  font-size: 1.2em;
  letter-spacing: 3px;
  color: #fff;
  width: 100%;
}
.detail {
  display: inline-block;
  width: 100%;
  background-color: white;
  text-align: center;
  height: 10%;
}

.hashTagContent {
  width: 70%;
  display: inline-block;
}

.hashTag,
.hashTagClicked {
  display: inline-block;
  border-radius: 52px;
  background-color: #d1d1d1;
  padding: 0.5%;
  margin: 0.5%;
  width: 8%;
  font-size: 17px;
  color: white;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.hashTagClicked {
  background-color: #ffa455;
  color: white;
}
.selectButton {
  border-radius: 52px;
  width: 12%;
  background-color: #ffa455;
  color: white;
  font-size: 1ßßem;
  padding: 0.5%;
  margin: 1.5%;
  display: inline-block;
  font-weight: 1000;
  cursor: pointer;
}
.maincontent {
  background-color: #ccc7c1;
  text-align: center;
  height: fit-content;
}
.cafelist,
.showcafe {
  width: 32%;
  height: 40%;
  background-color: white;
  margin: 4% 2% 1% 2%;
  display: inline-block;
  border-radius: 17px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
}
.cafelist::-webkit-scrollbar {
  width: 15px;
  border-radius: 0 17px 17px 0;
  background-color: black;
}
.cafelist::-webkit-scrollbar-thumb {
  background-color: rgb(194, 190, 185);
  background-clip: padding-box;
  border-radius: 17px;
  border: 3px solid transparent;
}
.cafelist::-webkit-scrollbar-track {
  background-color: rgb(243, 241, 240);
  border-radius: 0 17px 17px 0;
}
.cafe {
  display: inline-block;
  width: 85%;
  height: 25%;
  margin: 8% 0 0 4%;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
}
