html {
  width: 100%;
  height: 100%;
  font-family: "Noto Sans KR", sans-serif;
}
body {
  margin: 0px;
  height: 100%;
  width: 100%;
}
.header a {
  display: inline-block;
  margin: 0px;
  height: 100%;
  width: 100%;
}
.header {
  background-color: white;
  position: float;
  height: 8.5%;
  width: 100%;
}
.mainlogo {
  height: 55%;
  width: auto;
  padding: 0px;
  margin: 1% 2%;
}
.showbar {
  height: 11.5%;
  width: 100%;
  background-color: #564a41;
}
.bottombar {
  height: 6.5%;
  background-color: #564a41;
}
.showbar i,
span {
  display: inline-block;
  margin: 5px;
}
.showWhatSelect {
  text-align: center;
}
.detail {
  background-color: white;
}
p {
  margin: 0;
}
.hashtag span {
  display: inline-block;
  border-radius: 52px;
  background-color: #d1d1d1;
  padding: 8px 50px;
  margin: 0.5%;
  font-weight: bold;
  /* width로 길이 지정해주기*/
}
.maincontent {
  background-color: #ccc7c1;
  text-align: center;
  height: 700px;
}
.cafelist,
.showcafe {
  width: 30%;
  height: 550px;
  background-color: white;
  margin: 75px 10px;
  display: inline-block;
  text-align: center;
  border-radius: 17px;
}
.backWard,
.showWhatSelect {
  font-size: 22px;
  letter-spacing: 3px;
  color: #fff;
}
